.main-button {
    display: inline-block;
    background-color: #f25a70;
    height: 60px;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
    box-shadow: 5px 5px 0 black;
    margin-right: 0;
    transition: transform 050ms linear;
    text-decoration: none;
    font-family: 'Fira Code';
    color: #eee;
}

.main-button:hover {
    transform: scale(1.1);
}

.main-button.-button {
    width: 100%;
}